/* ============== GOOGLE FONTS ================ */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap');


/* ============== COLORS ================ */

$custom-black: #141618;
$white: #fff;
$black-text: #303133;
$gray-text: #777;
$gold: #b4975a;
$light-gray: #eaeaea;

/* ============= FONTS ================ */

$primary-font: 'Playfair Display',
serif,
system-ui;
$secondary-font: 'Poppins',
sans-serif,
system-ui;


/* ============= REUSABLES ================ */


.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.container__title {
  h2 {
    font: {
      size: 3.125rem;
      weight: 400;
      style: italic;
    }

    letter-spacing: -0.02em;
    line-height: 3.6875rem;
    margin-block-end: 1.125rem;
  }

  p {
    font-size: 1.25rem;
    color: #777;
  }
}




// MEDIA QUERIES //

@media screen and (max-width: 580px) {
  .container__title {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .nosotros {
    .container {
      .container__col-right {
        p {
          font-size: 1rem;
        }
      }
    }
  }

}