// MODULES //

@import 'variables';
@import 'reset';
@import 'header';
@import 'main';
@import 'home';
@import 'about';
@import 'chef';
@import 'menu-section';
@import 'contact';
@import 'footer';



body {
  font-size: 1rem;
  font-family: $primary-font;
  color: $black-text;
}



.imagen-modal {
  width: 90%;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .4s ease;

  +i {
    position: absolute;
    top: 2%;
    right: 1%;
    color: $black-text;
    font-size: 2.25rem;
    background: $white;
    display: inline-block;
    padding: .75rem;
    cursor: pointer;
  }
}

