// MODULES //

@import 'reset';
@import 'variables';
@import 'header';
@import 'main';
@import 'home';
@import 'about';
@import 'chef';
@import 'menu-section';
@import 'contact';
@import 'footer';



body {
  font-size: 1rem;
  font-family: $primary-font;
  color: $black-text;
}